
<!DOCTYPE html>
<html>
<head>
  <title>Clients</title>
</head>
<body>

<h2>Clients List</h2>

<ul>
  <% if (clients.length === 0) { %>
    <li>No clients found</li>
  <% } %>

  <% clients.forEach(client => { %>
    <li>
      <a href="/clients/<%= client.id %>">
        <%= client.name %>
      </a>
      (<%= client.status %>)
    </li>
  <% }) %>
</ul>

</body>
</html>
